button{
    background-color: black;
    color: white;
    width: 100%;

}
nav{
    font-size:xx-large;
    color: white;
    margin-bottom: 1.7%;
}
nav div{
    padding-left: 50px;
}
.userimg{
    border-radius: 50%;
    border: 1px solid black;
    scale: 0.6;
}